body {
    text-align: center;
    background-image: url(marmor_hintergrund.jpg);
    font-family: sans-serif;
    margin:0px;
    padding:0px;
}

@media screen and (min-width: 1024px){

.Leiste1 #box1 {
    position: relative;
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;  
    background-color: rgba(255, 0, 119, 0.753);
    height: 30px;
    width: 100%;
}

.Leiste1 .navigatorrechts{
    display: inline;
    list-style: none; 
}

.navigatorrechts {
    position: absolute;
    right: 20px;
    top: 5px;

}

.navigatorrechts a{
    text-decoration: none;
    color: white;
    font-size: 15px; 
    margin-left: 20px;
}


.navigatorlinks *{
    display: inline;
    position: absolute;
    left: 20px;
    top: 5px;
}

.navigatorlinks p{
    text-decoration: none;
    color: white;
    font-size: 15px; 
    margin-top: 0px;
}


.Leiste1 + .Leiste>#box {
    position: relative;
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;  
    background-color: rgba(19, 19, 19);
    height: 150px;
    width: 100%;
}

.Leiste >.logo{
    position:absolute;
    left: 600px;
    top: 0px;
    width:350px;
}


img[alt=Warenkorb]{
    position: absolute;
    top: 110px; 
    right: 135px; 
    width:70px;
}

#warenkorb:hover{
    opacity: 0.5;
}

#home{
    position: absolute;
    top: 115px; 
    right: 70px; 
    width:80px;
}

#home:hover{
    opacity: 0.5;
}

#menue img{
    position: absolute;
    top: 100px; 
    right: 0px; 
    width:95px;
}

.inhalt{
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgba(19, 19, 19);
    width: 200px;
}

.inhalt a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }

#menue:hover .inhalt {
      display: block;
    }

#menue:hover{
        opacity: 0.7;
    }

.container_ueberschrift{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_ueberschrift div{
    background-color: rgba(187, 187, 187, 0.9);
    width: 1085px;
    height: 100%;
    padding: 10px 10px 10px 10px; 
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 100px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container img {
    height: 200px ;
}

.container div{
    background-color: rgba(187, 187, 187, 0.9);
    width: 250px;
    height: 100%;
    padding: 10px 10px 10px 10px; 
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 10px;
}

.container p{
    font-size:12px;
}


button {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);;
        border-radius: 5px;
        border-color: rgb(0, 0, 0);
        padding: 5px 5px 5px 5px;
    }

}



    @media screen and (min-width: 600px){
    
        .Leiste1 #box1 {
            height: 30px;
        }
        
        
        .Leiste >.logo{
            position:absolute;
            text-align: center;
            left: 200px;
            width:150px;
        }
        
        
        img[alt=Warenkorb]{
            position: absolute;
            top: 110px; 
            right: 135px; 
            width:70px;
        }
        
        #warenkorb:hover{
            opacity: 0.5;
        }
        
        #home{
            position: absolute;
            top: 115px; 
            right: 70px; 
            width:80px;
        }
        
        #home:hover{
            opacity: 0.5;
        }
        
        #menue img{
            position: absolute;
            top: 100px; 
            right: 0px; 
            width:95px;
        }
        
        .inhalt{
            display: none;
            position: absolute;
            right: 0px;
            background-color: rgba(19, 19, 19);
            width: 200px;
        }
        
        .inhalt a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        
          }
        
        #menue:hover .inhalt {
              display: block;
            }
        
        #menue:hover{
                opacity: 0.7;
            }
        
        .container_ueberschrift{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .container_ueberschrift div{
            background-color: rgba(187, 187, 187, 0.9);
            width: 1085px;
            height: 100%;
            padding: 10px 10px 10px 10px; 
            text-align: center;
            margin-bottom: 10px;
            border-radius: 20px;
            margin-left: 10px;
            margin-top: 100px;
        }
        
        
        .container{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .container img {
            height: 200px ;
        }
        
        .container div{
            background-color: rgba(187, 187, 187, 0.9);
            width: 250px;
            height: 100%;
            padding: 10px 10px 10px 10px; 
            text-align: center;
            margin-bottom: 10px;
            border-radius: 20px;
            margin-left: 10px;
        }
        
        .container p{
            font-size:12px;
        }
        
        
        button {
                background-color: rgb(0, 0, 0);
                color: rgb(255, 255, 255);;
                border-radius: 5px;
                border-color: rgb(0, 0, 0);
                padding: 5px 5px 5px 5px;
            }

    }

    @media screen and (max-width:600px){
        
    }

